<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<nav class="navbar">
<img class="logo" src="/images/logo_cbta_284.png">
    <p>SISTEMA DE GESTIÓN DE PÓLIZAS</p>
</nav>

<div class="container">
    <h2>Iniciar sesión</h2>
    <form id="loginForm">
        <!-- <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required> -->
        <div class="wave-group">
            <input required type="text" id="username" name="username" class="input">
            <span class="bar"></span>
            <label for="username" class="label">
                <span class="label-char" style="--index: 0">U</span>
                <span class="label-char" style="--index: 1">s</span>
                <span class="label-char" style="--index: 2">u</span>
                <span class="label-char" style="--index: 3">a</span>
                <span class="label-char" style="--index: 4">r</span>
                <span class="label-char" style="--index: 5">i</span>
                <span class="label-char" style="--index: 6">o</span>
            </label>
        </div>

        <!-- <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required> -->

        <div class="wave-group">
            <input required type="password" id="password" name="password" class="input">
            <span class="bar"></span>
            <label for="password" class="label">
                <span class="label-char" style="--index: 0">C</span>
                <span class="label-char" style="--index: 1">o</span>
                <span class="label-char" style="--index: 2">n</span>
                <span class="label-char" style="--index: 3">t</span>
                <span class="label-char" style="--index: 4">r</span>
                <span class="label-char" style="--index: 5">a</span>
                <span class="label-char" style="--index: 6">s</span>
                <span class="label-char" style="--index: 7">e</span>
                <span class="label-char" style="--index: 8">ñ</span>
                <span class="label-char" style="--index: 9">a</span>
            </label>
        </div>

        <button type="submit">Ingresar</button>
    </form>
    <!--    <p>¿No tienes cuenta? <a href="/register">Regístrate aquí</a></p>-->
</div>

<script src="/js/auth.js"></script>
</body>
</html>
