<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>SUBIR FACTURA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
<!-- Barra de navegación -->
<div th:replace="fragments/navbar :: navbar"></div>
<div th:fragment="content">
    <br>
    <h1>Subir facturas</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xml" required>
        <button class="btn" type="submit">Subir</button>
    </form>

    <h2>Facturas Subidas</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Nombre de la Empresa</th>
            <th>RFC</th>
            <th>Cargo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="factura : ${facturas}">
            <td th:text="${factura.id}"></td>
            <td th:text="${factura.fecha}"></td>
            <td th:text="${factura.nombreEmpresa}"></td>
            <td th:text="${factura.rfc}"></td>
            <td th:text="${factura.cargo}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>